.bot {
	min-width: 100px;
}

.botG {
	min-width: 150px;
}

.botLine {
	margin-left: 5px;
}

.icon-line {
	margin-left: 15px;
}

.icon-line-u {
	margin-left: 17px;
	margin-right: 3px;
}

.cor-fundo {
	background-color: #f4f4f4;
}

.margem-zero {
	margin:0px;
}

.titulo {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.panel-secondary {
  border-color: #67ab51;
}
.panel-secondary > .panel-heading {
  color: #fff;
  background-color: #67ab51;
  border-color: #67ab51;
}
.panel-secondary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #67ab51;
}
.panel-secondary > .panel-heading .badge {
  color: #67ab51;
  background-color: #fff;
}
.panel-secondary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #67ab51;