.bot {
	min-width: 100px;
}

.botLine {
	margin-left: 5px;
}

.icon-line {
	margin-left: 15px;
}

.icon-line-u {
	margin-left: 17px;
	margin-right: 3px;
}

.cor-fundo {
	background-color: #f4f4f4;
}

.titulo {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}